USE [master]
GO
/****** Object:  Database [CSDL]    Script Date: 6/16/2020 9:25:51 PM ******/
CREATE DATABASE [CSDL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSDL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CSDL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSDL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CSDL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSDL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSDL]
GO
/****** Object:  Table [dbo].[SINH_VIEN]    Script Date: 6/16/2020 9:25:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINH_VIEN](
	[mssv] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[gioitinh] [nvarchar](10) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[mssv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SINH_VIEN] ON 

INSERT [dbo].[SINH_VIEN] ([mssv], [ten], [gioitinh], [diachi], [email]) VALUES (1, N'Phan Hieu', N'nam', N'53 Ly Thai Tong', N'kuhjeu55@gmail.com')
INSERT [dbo].[SINH_VIEN] ([mssv], [ten], [gioitinh], [diachi], [email]) VALUES (2, N'Duc Tin', N'nam', N'123 Le Thanh Ton', N'doanductin12@gmail.com')
INSERT [dbo].[SINH_VIEN] ([mssv], [ten], [gioitinh], [diachi], [email]) VALUES (3, N'Lan Anh', N'nu', N'191 Dien Bien Phu', N'huy@gmail.com')
SET IDENTITY_INSERT [dbo].[SINH_VIEN] OFF
GO
USE [master]
GO
